*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .box{
    background-color: red;
    height: 100px;
    width: 100px;
} */
body{
    background-color: #e0a9e3;
}
.container{
    max-width: 1200px;
    height: 800px;
    background-color: black;
    margin: 80px 60px;
}
.box{
    width: 100%;
    height: 200px;
    background: white;
}
.box_container{
    display: flex;
}
.box1{
    background-color: #db93de;
}
.box2{
    background-color: #d882db;
}
.box3{
    background-color: #d272d5;
}
.box4{
    background-color: #d84fdd;
}
.box5{
    background-color: #dd46e2;
}
.box6{
    background-color: #a731ab;
}
.box7{
    background-color: #7e2c81;
}
.box8{
    background-color: #5d1660;
}

@media screen and (width > 1200px) {
    .container{
        margin: 80px auto;
    }
}

@media screen and (width < 1200px) and (width > 450px) {
    .container{
        margin: 40px 24px;
    }
}

@media screen and (width < 450px) {
    .container{
        margin: 24px 16px;
    }
}